{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="{% static 'images/sports.jpg' %}" alt="logo" style="height: 60px; width: 100px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex ms-auto" method="GET" action="{% url 'home' %}">
            <input type="text" name="q" placeholder="Search" class="form-control me-2" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            
            <li class="nav-but">
                <a class="btn btn-outline-light" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li  class="d-flex ms-auto" class="nav-but">
                <a class="btn btn-outline-light" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-but">
                <a class="btn btn-outline-light" href="{% url 'register' %}">Register</a>
            </li>
            </li>
        {% endif %}
        </ul>
        </div>
    </div>
  </nav>
