<div>
    {% for room in rooms %}
        <div class="box2">
            
            <a style="text-decoration:none" class="link-light" href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a> <small class="link-light">{{room.created|timesince}} ago</small>
            <h5>
                <a style="text-decoration:none" class="link-light" href="{% url 'room' room.id %}" class="room-name">{{room.name}}</a></h5>
                <hr class="link-light">
                {% if request.user == room.host %}
                <a class="btn btn-light w-20" href="{% url 'update-room' room.id %}">Edit</a>
                <a class="btn btn-light w-20" href="{% url 'delete-room' room.id %}">Delete</a>
                {% endif %}
                <div>
                <small class="link-light">{{room.participants.all.count}} Joined</small>
                <div class="tpc-box">
                <small class="link-light">{{room.topic.name}}</small></div>
    
                
                </div>
        </div>

    {% endfor %}
</div>
