{% extends 'main.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<h5 style="color:black;" class="hello-user">Hello {{request.user}}</h5>

{% endif %}

<style>
    .home-container{
        display:grid;
        grid-template-columns: 1fr 3fr 2fr;
    }
</style>


<div class="home-container">
    <div>
        {% include 'base/topics_components.html' %}
    </div>
    <div>
        <h2 class="rms-txt">Rooms</h2>
        {% if room_count == 1 %}

        <h5 class="rms-txt" >{{room_count}} room available</h5>

        {% else %}
        <h5 class="rms-txt" >{{room_count}} rooms available</h5>

        {% endif %}
        <div class="button-container-div">
        <button class="button button1"><a href="{% url 'create-room' %}" style="text-decoration:none">Create Room</a></button>
        </div>
    
        {% include 'base/feed_component.html'%}
    </div>

    <div>
        {% include 'base/activity_component.html' %}


    </div>
    
</div>

{% endblock content %}