{% extends 'main.html' %}


{% block content %}

<style>
    .room-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room-container">

    <div>
        <h2 style="text-align: center;">{{room.name}}</h2>

        <h3 class="dsc">Description: {{room.description}}</h3>

        <div class="comment-wrapper">

            <h2 class="msg-pos">Conversation</h2>
            <hr class="link-light">

            {% for message in room_messages %}
            <div class="msg-room">
                
                <small><a style="text-decoration:none" class="link-primary" href="{%url 'user-profile' room.host.id %}">@{{message.user}}</a></small>   <small class="link-primary">{{message.created|timesince}} ago</small>
                <b><p>{{message.body}}</p></b>
                {% if request.user == message.user %}
                <a class="btn btn-light w-20" href="{% url 'delete-room' room.id %}">Delete</a>
                {% endif %}
                <hr class="link-light">

            </div>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="msg-pos">
                <input  class="form-control w-25 pb-3 ml-3"required type="text" name="body" placeholder="Write your message here" />
                <button class="btn btn-success w-25 mt-3 ml-3" type="submit" class="class="btn btn-outline-light" value="submit">Post</button>
                </div>


            </form>
        </div>
        {% endif %}
    </div>
    <div class="joined">
        <h2>Participants </h2><b><small style="text-decoration:none" class="link-light">({{room.participants.all.count}} Joined)</small></b>
        <hr  class="link-light">
        {% for user in participants %}
        <div class="box1">
            <a style="text-decoration:none" class="link-light"  href="{%url 'user-profile' room.host.id %}">@{{user.username}}</a>
        </div>

        {% endfor %}
    </div>

</div>



{% endblock content %}